<p>Here are 'phone number' validator examples</p>

<p>Here are all available countries</p>

<div fxLayout="column" class="mt-1">
  <mat-button-toggle-group [formControl]="countryFormControl">
    <ng-container *ngFor="let country of availableCountries">
      <mat-button-toggle [value]="country.value">{{country.label}}</mat-button-toggle>
    </ng-container>
  </mat-button-toggle-group>

  <mat-form-field appearance="outline" class="mt-1">
    <input type="number" matInput [placeholder]="'Phone number'" [formControl]="phoneNumberFormControl" autocomplete="off">
    <mat-error *ngIf="phoneNumberFormControl.invalid">
      {{getErrorMessage(phoneNumberFormControl)}}
    </mat-error>
  </mat-form-field>
</div>
