<h2>IMNumberInRangeValidator</h2>

<h2><strong>This is number in range validator.</strong></h2>
<p>It defines number range, where control value must be a number in this range.</p>
<p>Validator has two parameters: 'from' and 'to'.</p>
<p>Note, that 'from' parameter must be less than 'to' parameter.</p>

<hr>

<h3><strong>Pattern: [from, value, to]</strong></h3>

<hr>

<p fxLayout="column">
  <span>It can be imported in next way:</span>
  <strong class="pt-1">import {{'{'}}IMNumberInRangeValidator{{'}'}} from 'angular-validators';</strong>
  <span class="pt-1">Also, error interface that validator returns can be imported as well:</span>
  <strong class="pt-1">import {{'{'}}IMNumberInRangeErrorInterface{{'}'}} from 'angular-validators';</strong>
</p>

<hr>

<p class="mt-2">Please, take a look at the validator APIs for more detailed information.</p>
