<h2>IMPasswordValidator</h2>

<h2><strong>This is password validator.</strong></h2>
<p>It has one required parameter - minLength</p>

<hr>

<p fxLayout="column">
  <span>It can be imported in next way:</span>
  <strong class="pt-1">import {{'{'}}IMPasswordValidator{{'}'}} from 'angular-validators';</strong>
  <span class="pt-1">To define and pass parameters, you have to import model from library:</span>
  <strong class="pt-1">import {{'{'}}IMPasswordValidatorConfigModel{{'}'}} from 'angular-validators';</strong>
  <span class="pt-1">Also, error interface that validator returns can be imported as well:</span>
  <strong class="pt-1">import {{'{'}}IMPasswordErrorInterface{{'}'}} from 'angular-validators';</strong>
</p>

<hr>

<p class="mt-2">Please, take a look at the validator APIs for more detailed information.</p>
