<h2>Here are 'custom email' validator's APIs:</h2>

<table id="api">
  <tr>
    <th>Parameter</th>
    <th>Type</th>
    <th>Required</th>
    <th>Default value</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><strong>scale</strong></td>
    <td>number</td>
    <td>No</td>
    <td>3</td>
    <td>This parameter defines email domain suffix length</td>
  </tr>
  <tr>
    <td><strong>fixed</strong></td>
    <td>boolean</td>
    <td>No</td>
    <td>false</td>
    <td>This parameter defines strict email domain suffix length</td>
  </tr>
</table>

<p class="mt-2">Please, take a look at the validator examples and play with different defined validator parameters.</p>
