<table class="api">
  <tr>
    <th>Parameter</th>
    <th>Type</th>
    <th>Required</th>
    <th>Default value</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><strong>isTrimValueRequired</strong></td>
    <td>boolean</td>
    <td>No</td>
    <td>false</td>
    <td>This parameter defines if validator needs a check of space trailing</td>
  </tr>
  <tr>
    <td><strong>isZeroAllowed</strong></td>
    <td>boolean</td>
    <td>No</td>
    <td>false</td>
    <td>This parameter defines if zero is allowed in input (for input type="number")</td>
  </tr>
  <tr>
    <td><strong>isCheckboxShouldBeChecked</strong></td>
    <td>boolean</td>
    <td>No</td>
    <td>false</td>
    <td>This parameter defines if value must be "true" in input (for checkboxes)</td>
  </tr>
</table>

<p class="mt-2">Please, take a look at the validator examples and play with different defined validator parameters.</p>
