<h2>Here is example player:</h2>
<p><b>Next control must have value from 1-100:</b></p>

<form fxLayout="column" class="mt-1" autocomplete="off">
  <mat-form-field appearance="outline" class="mt-1">
    <mat-label>What percentage? (Must be in range 1-100)</mat-label>
    <input type="number" matInput [placeholder]="'What percentage?'" [formControl]="percentageControl">
    <mat-error *ngIf="percentageControl.invalid">
      {{percentageControl.errors | controlErrorResolver}}
    </mat-error>
  </mat-form-field>
</form>
