<form [formGroup]="diffTypesFormGroup" autocomplete="off" class="mt-1" fxLayout="column">
  <span>Input with type text</span>
  <mat-form-field appearance="outline">
    <input [placeholder]="'Text form control'" formControlName="text" matInput type="text">
    <mat-error *ngIf="diffTypesFormGroup.get('text').invalid">
      {{diffTypesFormGroup.get('text').errors | controlErrorResolver}}
    </mat-error>
  </mat-form-field>

  <span>Input with type number</span>
  <mat-form-field appearance="outline">
    <input [placeholder]="'Number form control'" formControlName="number" matInput type="number">
    <mat-error *ngIf="diffTypesFormGroup.get('number').invalid">
      {{diffTypesFormGroup.get('number').errors | controlErrorResolver}}
    </mat-error>
  </mat-form-field>

  <span>Input with type time</span>
  <mat-form-field appearance="outline">
    <input [placeholder]="'Time form control'" formControlName="time" matInput type="time">
    <mat-error *ngIf="diffTypesFormGroup.get('time').invalid">
      {{diffTypesFormGroup.get('time').errors | controlErrorResolver}}
    </mat-error>
  </mat-form-field>

  <span>Input with type date</span>
  <mat-form-field appearance="outline">
    <mat-datepicker-toggle [for]="datePicker" matPrefix></mat-datepicker-toggle>
    <mat-label>Date form control *</mat-label>
    <input [matDatepicker]="datePicker" formControlName="date" matInput>
    <mat-datepicker #datePicker></mat-datepicker>
    <mat-error *ngIf="diffTypesFormGroup.get('date').invalid">
      {{diffTypesFormGroup.get('date').errors | controlErrorResolver}}
    </mat-error>
  </mat-form-field>

  <span>Input with type select</span>
  <mat-form-field appearance="outline">
    <mat-label>Select gender *</mat-label>
    <mat-select formControlName="select">
      <mat-option [value]="'male'">Male</mat-option>
      <mat-option [value]="'female'">Female</mat-option>
      <mat-option [value]="'other'">Other</mat-option>
    </mat-select>
    <mat-error *ngIf="diffTypesFormGroup.get('select').invalid">
      {{diffTypesFormGroup.get('select').errors | controlErrorResolver}}
    </mat-error>
  </mat-form-field>
</form>
