<mat-tab-group animationDuration="0ms">
  <mat-tab label="Overview">
    <div class="mt-2">
      <app-number-decimal-places-overview></app-number-decimal-places-overview>
    </div>
  </mat-tab>
  <mat-tab label="API">
    <div class="mt-2">
      <app-number-decimal-places-api></app-number-decimal-places-api>
    </div>
  </mat-tab>
  <mat-tab label="Examples">
    <div class="mt-2">
      <app-number-decimal-places-examples></app-number-decimal-places-examples>
    </div>
  </mat-tab>
</mat-tab-group>
