<h2>IMDateComparatorValidator</h2>

<h2><strong>This is date comparator validator.</strong></h2>
<p>Configuration parameter must be passed with next config items:</p>

<ul>
  <li>Comparing Operator</li>
  <li>Comparing Value</li>
  <li>Comparing Control Key</li>
</ul>

<hr>

<p>We have two possibilities to use this validator.</p>
<p><b>1. Pass comparing value directly via validator configuration</b></p>
<p><b>2. Pass control key directly via validator configuration</b></p>
<p>It must be sibling form control from the same form group with moment model.</p>

<hr>

<p fxLayout="column">
  <span>It can be imported in next way:</span>
  <strong class="pt-1">import {{'{'}}IMDateComparatorValidator{{'}'}} from 'im-angular-validators';</strong>
  <span class="pt-1">To pass configuration parameter, you can import its interface from library:</span>
  <strong class="pt-1">import {{'{'}}IMDateComparatorValidatorConfigInterface{{'}'}} from 'im-angular-validators';</strong>
  <span class="pt-1">Also, error interface that validator returns can be imported as well:</span>
  <strong class="pt-1">import {{'{'}}IMDateComparatorErrorInterface{{'}'}} from 'im-angular-validators';</strong>
</p>

<hr>

<p class="mt-2">Please, take a look at the validator APIs for more detailed information.</p>
