<p>Here are 'date-comparator' validator examples.</p>
<p>We have two possibilities to use this validator.</p>
<p><b>1. Pass comparing value directly via validator configuration</b></p>
<p><b>2. Pass control key directly via validator configuration</b></p>
<p>It has to be a brother form control on the same form group with moment model.</p>

<mat-tab-group>
  <mat-tab label="Equal To (===)">
    <div class="mt-2">
      <p><b>1.</b> In next example value of the form control must be to current today date.</p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="equalDatePicker"></mat-datepicker-toggle>
          <mat-label>Select date</mat-label>
          <input matInput [formControl]="equalFormControl" [matDatepicker]="equalDatePicker">
          <mat-datepicker #equalDatePicker></mat-datepicker>
          <mat-error *ngIf="equalFormControl.invalid">{{getErrorMessage(equalFormControl)}}</mat-error>
        </mat-form-field>
      </form>

      <p><b>2.</b> Here are two form controls that are required and end date has to be the same as start date.</p>

      <form [formGroup]="equalForm" fxLayout="column" class="mt-1" autocomplete="off" fxLayoutGap="12px">
        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="equalStartDatePicker"></mat-datepicker-toggle>
          <mat-label>Select start date</mat-label>
          <input matInput formControlName="startDate" [matDatepicker]="equalStartDatePicker">
          <mat-datepicker #equalStartDatePicker></mat-datepicker>
          <mat-error *ngIf="equalForm.get('startDate').invalid">
            {{getErrorMessage(equalForm.get('startDate'))}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="equalEndDatePicker"></mat-datepicker-toggle>
          <mat-label>Select end date</mat-label>
          <input matInput formControlName="endDate" [matDatepicker]="equalEndDatePicker">
          <mat-datepicker #equalEndDatePicker></mat-datepicker>
          <mat-error *ngIf="equalForm.get('endDate').invalid">
            {{getErrorMessage(equalForm.get('endDate'))}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{equalForm.valid}}
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Greater Than (>)">
    <div class="mt-2">
      <p><b>1.</b> In next example selected date must be strictly greater than current today date.</p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="greaterDatePicker"></mat-datepicker-toggle>
          <mat-label>Select date</mat-label>
          <input matInput [formControl]="greaterFormControl" [matDatepicker]="greaterDatePicker">
          <mat-datepicker #greaterDatePicker></mat-datepicker>
          <mat-error *ngIf="greaterFormControl.invalid">{{getErrorMessage(greaterFormControl)}}</mat-error>
        </mat-form-field>
      </form>

      <p><b>2.</b> Here are two form controls that are required and end date must be strictly greater than start date.</p>

      <form [formGroup]="greaterForm" fxLayout="column" class="mt-1" autocomplete="off" fxLayoutGap="12px">
        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="greaterStartDatePicker"></mat-datepicker-toggle>
          <mat-label>Select start date</mat-label>
          <input matInput formControlName="startDate" [matDatepicker]="greaterStartDatePicker">
          <mat-datepicker #greaterStartDatePicker></mat-datepicker>
          <mat-error *ngIf="greaterForm.get('startDate').invalid">
            {{getErrorMessage(greaterForm.get('startDate'))}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="greaterEndDatePicker"></mat-datepicker-toggle>
          <mat-label>Select end date</mat-label>
          <input matInput formControlName="endDate" [matDatepicker]="greaterEndDatePicker">
          <mat-datepicker #greaterEndDatePicker></mat-datepicker>
          <mat-error *ngIf="greaterForm.get('endDate').invalid">
            {{getErrorMessage(greaterForm.get('endDate'))}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{greaterForm.valid}}
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Greater Than Or Equal To (>=)">
    <div class="mt-2">
      <p><b>1.</b> In next example value of the form control must be greater than or equal to current today date.</p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="greaterEqualDatePicker"></mat-datepicker-toggle>
          <mat-label>Select date</mat-label>
          <input matInput [formControl]="greaterEqualFormControl" [matDatepicker]="greaterEqualDatePicker">
          <mat-datepicker #greaterEqualDatePicker></mat-datepicker>
          <mat-error *ngIf="greaterEqualFormControl.invalid">{{getErrorMessage(greaterEqualFormControl)}}</mat-error>
        </mat-form-field>
      </form>

      <p><b>2.</b> Here are two form controls that are required and end date must be greater than or equal to start date.</p>

      <form [formGroup]="greaterEqualForm" fxLayout="column" class="mt-1" autocomplete="off" fxLayoutGap="12px">
        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="greaterEqualStartDatePicker"></mat-datepicker-toggle>
          <mat-label>Select start date</mat-label>
          <input matInput formControlName="startDate" [matDatepicker]="greaterEqualStartDatePicker">
          <mat-datepicker #greaterEqualStartDatePicker></mat-datepicker>
          <mat-error *ngIf="greaterEqualForm.get('startDate').invalid">
            {{getErrorMessage(greaterEqualForm.get('startDate'))}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="greaterEqualEndDatePicker"></mat-datepicker-toggle>
          <mat-label>Select end date</mat-label>
          <input matInput formControlName="endDate" [matDatepicker]="greaterEqualEndDatePicker">
          <mat-datepicker #greaterEqualEndDatePicker></mat-datepicker>
          <mat-error *ngIf="greaterEqualForm.get('endDate').invalid">
            {{getErrorMessage(greaterEqualForm.get('endDate'))}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{greaterEqualForm.valid}}
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Less Than (<)">
    <div class="mt-2">
      <p><b>1.</b> In next example value of the form control must be strictly less than current today date.</p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="lessDatePicker"></mat-datepicker-toggle>
          <mat-label>Select date</mat-label>
          <input matInput [formControl]="lessFormControl" [matDatepicker]="lessDatePicker">
          <mat-datepicker #lessDatePicker></mat-datepicker>
          <mat-error *ngIf="lessFormControl.invalid">{{getErrorMessage(lessFormControl)}}</mat-error>
        </mat-form-field>
      </form>

      <p><b>2.</b> Here are two form controls that are required and end date must be strictly less than start date.</p>

      <form [formGroup]="lessForm" fxLayout="column" class="mt-1" autocomplete="off" fxLayoutGap="12px">
        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="lessStartDatePicker"></mat-datepicker-toggle>
          <mat-label>Select start date</mat-label>
          <input matInput formControlName="startDate" [matDatepicker]="lessStartDatePicker">
          <mat-datepicker #lessStartDatePicker></mat-datepicker>
          <mat-error *ngIf="lessForm.get('startDate').invalid">
            {{getErrorMessage(lessForm.get('startDate'))}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="lessEndDatePicker"></mat-datepicker-toggle>
          <mat-label>Select end date</mat-label>
          <input matInput formControlName="endDate" [matDatepicker]="lessEndDatePicker">
          <mat-datepicker #lessEndDatePicker></mat-datepicker>
          <mat-error *ngIf="lessForm.get('endDate').invalid">
            {{getErrorMessage(lessForm.get('endDate'))}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{lessForm.valid}}
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Less Than Or Equal To (<=)">
    <div class="mt-2">
      <p><b>1.</b> In next example value of the form control must be less than or equal to current today date.</p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="lessEqualDatePicker"></mat-datepicker-toggle>
          <mat-label>Select date</mat-label>
          <input matInput [formControl]="lessEqualFormControl" [matDatepicker]="lessEqualDatePicker">
          <mat-datepicker #lessEqualDatePicker></mat-datepicker>
          <mat-error *ngIf="lessEqualFormControl.invalid">{{getErrorMessage(lessEqualFormControl)}}</mat-error>
        </mat-form-field>
      </form>

      <p><b>2.</b> Here are two form controls that are required and end date must be less than or equal to start date.</p>

      <form [formGroup]="lessEqualForm" fxLayout="column" class="mt-1" autocomplete="off" fxLayoutGap="12px">
        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="lessEqualStartDatePicker"></mat-datepicker-toggle>
          <mat-label>Select start date</mat-label>
          <input matInput formControlName="startDate" [matDatepicker]="lessEqualStartDatePicker">
          <mat-datepicker #lessEqualStartDatePicker></mat-datepicker>
          <mat-error *ngIf="lessEqualForm.get('startDate').invalid">
            {{getErrorMessage(lessEqualForm.get('startDate'))}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100%">
          <mat-datepicker-toggle matPrefix [for]="lessEqualEndDatePicker"></mat-datepicker-toggle>
          <mat-label>Select end date</mat-label>
          <input matInput formControlName="endDate" [matDatepicker]="lessEqualEndDatePicker">
          <mat-datepicker #lessEqualEndDatePicker></mat-datepicker>
          <mat-error *ngIf="lessEqualForm.get('endDate').invalid">
            {{getErrorMessage(lessEqualForm.get('endDate'))}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{lessEqualForm.valid}}
      </form>
    </div>
  </mat-tab>
</mat-tab-group>
