<h2>Here is example player:</h2>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="Equal To (===)">
    <div class="mt-2">
      <p fxLayout="column">
        <b>1. Comparing value is passed</b>
        <span>In next example value of the form control must be equal to current time.</span>
      </p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field fxFlex="100%">
          <mat-label>Select time</mat-label>
          <input matInput type="time" [formControl]="equalFormControl">
          <mat-error *ngIf="equalFormControl.invalid">
            {{equalFormControl.errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>
      </form>

      <p fxLayout="column">
        <b>2. Comparing control value is passed</b>
        <span>Here are two form controls that are required and end time has to be the same as start time.</span>
      </p>

      <form [formGroup]="equalForm" fxLayout="column" class="mt-1" autocomplete="off" fxLayoutGap="12px">
        <mat-form-field fxFlex="100%">
          <mat-label>Select start time</mat-label>
          <input matInput type="time" formControlName="startTime">
          <mat-error *ngIf="equalForm.get('startTime').invalid">
            {{equalForm.get('startTime').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100%">
          <mat-label>Select end time</mat-label>
          <input matInput type="time" formControlName="endTime">
          <mat-error *ngIf="equalForm.get('endTime').invalid">
            {{equalForm.get('endTime').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{equalForm.valid}}
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Greater Than (>)">
    <div class="mt-2">
      <p fxLayout="column">
        <b>1. Comparing value is passed</b>
        <span>In next example selected time must be strictly greater than current time.</span>
      </p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field fxFlex="100%">
          <mat-label>Select time</mat-label>
          <input matInput type="time" [formControl]="greaterFormControl">
          <mat-error *ngIf="greaterFormControl.invalid">
            {{greaterFormControl.errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>
      </form>

      <p fxLayout="column">
        <b>2. Comparing control value is passed</b>
        <span>Here are two form controls that are required and end time must be strictly greater than start time.</span>
      </p>

      <form [formGroup]="greaterForm" fxLayout="column" class="mt-1" autocomplete="off" fxLayoutGap="12px">
        <mat-form-field fxFlex="100%">
          <mat-label>Select start time</mat-label>
          <input matInput type="time" formControlName="startTime">
          <mat-error *ngIf="greaterForm.get('startTime').invalid">
            {{greaterForm.get('startTime').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100%">
          <mat-label>Select end time</mat-label>
          <input matInput type="time" formControlName="endTime">
          <mat-error *ngIf="greaterForm.get('endTime').invalid">
            {{greaterForm.get('endTime').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{greaterForm.valid}}
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Greater Than Or Equal To (>=)">
    <div class="mt-2">
      <p fxLayout="column">
        <b>1. Comparing value is passed</b>
        <span>In next example value of the form control must be greater than or equal to current time.</span>
      </p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field fxFlex="100%">
          <mat-label>Select time</mat-label>
          <input matInput type="time" [formControl]="greaterEqualFormControl">
          <mat-error *ngIf="greaterEqualFormControl.invalid">
            {{greaterEqualFormControl.errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>
      </form>

      <p fxLayout="column">
        <b>2. Comparing control value is passed</b>
        <span>Here are two form controls that are required and end time must be greater than or equal to start time.</span>
      </p>

      <form [formGroup]="greaterEqualForm" fxLayout="column" class="mt-1" autocomplete="off" fxLayoutGap="12px">
        <mat-form-field fxFlex="100%">
          <mat-label>Select start time</mat-label>
          <input matInput type="time" formControlName="startTime">
          <mat-error *ngIf="greaterEqualForm.get('startTime').invalid">
            {{greaterEqualForm.get('startTime').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100%">
          <mat-label>Select end time</mat-label>
          <input matInput type="time" formControlName="endTime">
          <mat-error *ngIf="greaterEqualForm.get('endTime').invalid">
            {{greaterEqualForm.get('endTime').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{greaterEqualForm.valid}}
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Less Than (<)">
    <div class="mt-2">
      <p fxLayout="column">
        <b>1. Comparing value is passed</b>
        <span>In next example value of the form control must be strictly less than current time.</span>
      </p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field fxFlex="100%">
          <mat-label>Select time</mat-label>
          <input matInput type="time" [formControl]="lessFormControl">
          <mat-error *ngIf="lessFormControl.invalid">
            {{lessFormControl.errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>
      </form>

      <p fxLayout="column">
        <b>2. Comparing control value is passed</b>
        <span>Here are two form controls that are required and end time must be strictly less than start time.</span>
      </p>

      <form [formGroup]="lessForm" fxLayout="column" class="mt-1" autocomplete="off" fxLayoutGap="12px">
        <mat-form-field fxFlex="100%">
          <mat-label>Select start time</mat-label>
          <input matInput type="time" formControlName="startTime">
          <mat-error *ngIf="lessForm.get('startTime').invalid">
            {{lessForm.get('startTime').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100%">
          <mat-label>Select end time</mat-label>
          <input matInput type="time" formControlName="endTime">
          <mat-error *ngIf="lessForm.get('endTime').invalid">
            {{lessForm.get('endTime').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{lessForm.valid}}
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Less Than Or Equal To (<=)">
    <div class="mt-2">
      <p fxLayout="column">
        <b>1. Comparing value is passed</b>
        <span>In next example value of the form control must be less than or equal to current time.</span>
      </p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field fxFlex="100%">
          <mat-label>Select time</mat-label>
          <input matInput type="time" [formControl]="lessEqualFormControl">
          <mat-error *ngIf="lessEqualFormControl.invalid">
            {{lessEqualFormControl.errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>
      </form>

      <p fxLayout="column">
        <b>2. Comparing control value is passed</b>
        <span>Here are two form controls that are required and end time must be less than or equal to start time.</span>
      </p>

      <form [formGroup]="lessEqualForm" fxLayout="column" class="mt-1" autocomplete="off" fxLayoutGap="12px">
        <mat-form-field fxFlex="100%">
          <mat-label>Select start time</mat-label>
          <input matInput type="time" formControlName="startTime">
          <mat-error *ngIf="lessEqualForm.get('startTime').invalid">
            {{lessEqualForm.get('startTime').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100%">
          <mat-label>Select end time</mat-label>
          <input matInput type="time" formControlName="endTime">
          <mat-error *ngIf="lessEqualForm.get('endTime').invalid">
            {{lessEqualForm.get('endTime').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{lessEqualForm.valid}}
      </form>
    </div>
  </mat-tab>
</mat-tab-group>
