<h2>IMUUIdValidator</h2>

<h2><strong>This is UUId validator.</strong></h2>
<p>This UUId validator works with any type of UUId</p>
<p>Validator doesn't have any additional parameters</p>

<hr>

<p fxLayout="column">
  <span>This validator can be imported in the next way:</span>
  <strong class="pt-1">import {{'{'}}IMUUIdValidator{{'}'}} from 'im-angular-validators';</strong>
  <span class="pt-1">Error interface that validator returns can be imported as well:</span>
  <strong class="pt-1">import {{'{'}}IMUUIdErrorInterface{{'}'}} from 'im-angular-validators';</strong>
</p>
