<h2>Here is example player:</h2>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="Equal To (===)">
    <div class="mt-2">
      <p fxLayout="column">
        <b>1. Comparing value is passed</b>
        <span>In next example value of the form control must be equal to 18.</span>
      </p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>What is your age? (Must be equal to 18)</mat-label>
          <input type="number" matInput [placeholder]="'What is your age?'" [formControl]="equalFormControl">
          <mat-error *ngIf="equalFormControl.invalid">
            {{equalFormControl.errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>
      </form>

      <p fxLayout="column">
        <b>2. Comparing control value is passed</b>
        <span>Here are two form controls that are required and second one must have value equal to first one.</span>
      </p>

      <form [formGroup]="equalForm" fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>First Age *</mat-label>
          <input type="number" matInput [placeholder]="'First Age *'" formControlName="firstAge">
          <mat-error *ngIf="equalForm.get('firstAge').invalid">
            {{equalForm.get('firstAge').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>Second Age *</mat-label>
          <input type="number" matInput [placeholder]="'Second Age *'" formControlName="secondAge">
          <mat-error *ngIf="equalForm.get('secondAge').invalid">
            {{equalForm.get('secondAge').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{equalForm.valid}}
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Greater Than (>)">
    <div class="mt-2">
      <p fxLayout="column">
        <b>1. Comparing value is passed</b>
        <span>In next example value of the form control must be strictly greater than 18.</span>
      </p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>What is your age? (Must be greater than 18)</mat-label>
          <input type="number" matInput [placeholder]="'What is your age?'" [formControl]="greaterFormControl">
          <mat-error *ngIf="greaterFormControl.invalid">
            {{greaterFormControl.errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>
      </form>

      <p fxLayout="column">
        <b>2. Comparing control value is passed</b>
        <span>Here are two form controls that are required and second one must have value greater than first one.</span>
      </p>

      <form [formGroup]="greaterForm" fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>First Age *</mat-label>
          <input type="number" matInput [placeholder]="'First Age *'" formControlName="firstAge">
          <mat-error *ngIf="greaterForm.get('firstAge').invalid">
            {{greaterForm.get('firstAge').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>Second Age *</mat-label>
          <input type="number" matInput [placeholder]="'Second Age *'" formControlName="secondAge">
          <mat-error *ngIf="greaterForm.get('secondAge').invalid">
            {{greaterForm.get('secondAge').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{greaterForm.valid}}
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Greater Than Or Equal To (>=)">
    <div class="mt-2">
      <p fxLayout="column">
        <b>1. Comparing value is passed</b>
        <span>In next example value of the form control must be greater than or equal to 18.</span>
      </p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>What is your age? (Must be greater than or equal to 18)</mat-label>
          <input type="number" matInput [placeholder]="'What is your age?'" [formControl]="greaterEqualFormControl">
          <mat-error *ngIf="greaterEqualFormControl.invalid">
            {{greaterEqualFormControl.errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>
      </form>

      <p fxLayout="column">
        <b>2. Comparing control value is passed</b>
        <span>Here are two form controls that are required and second one must have value greater than or equal to first one.</span>
      </p>

      <form [formGroup]="greaterEqualForm" fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>First Age *</mat-label>
          <input type="number" matInput [placeholder]="'First Age *'" formControlName="firstAge">
          <mat-error *ngIf="greaterEqualForm.get('firstAge').invalid">
            {{greaterEqualForm.get('firstAge').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>Second Age *</mat-label>
          <input type="number" matInput [placeholder]="'Second Age *'" formControlName="secondAge">
          <mat-error *ngIf="greaterEqualForm.get('secondAge').invalid">
            {{greaterEqualForm.get('secondAge').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{greaterEqualForm.valid}}
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Less Than (<)">
    <div class="mt-2">
      <p fxLayout="column">
        <b>1. Comparing value is passed</b>
        <span>In next example value of the form control must be strictly less than 18.</span>
      </p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>What is your age? (Must be less than 18)</mat-label>
          <input type="number" matInput [placeholder]="'What is your age?'" [formControl]="lessFormControl">
          <mat-error *ngIf="lessFormControl.invalid">
            {{lessFormControl.errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>
      </form>

      <p fxLayout="column">
        <b>2. Comparing control value is passed</b>
        <span>Here are two form controls that are required and second one must have value less than first one.</span>
      </p>

      <form [formGroup]="lessForm" fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>First Age *</mat-label>
          <input type="number" matInput [placeholder]="'First Age *'" formControlName="firstAge">
          <mat-error *ngIf="lessForm.get('firstAge').invalid">
            {{lessForm.get('firstAge').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>Second Age *</mat-label>
          <input type="number" matInput [placeholder]="'Second Age *'" formControlName="secondAge">
          <mat-error *ngIf="lessForm.get('secondAge').invalid">
            {{lessForm.get('secondAge').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{lessForm.valid}}
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Less Than Or Equal To (<=)">
    <div class="mt-2">
      <p fxLayout="column">
        <b>1. Comparing value is passed</b>
        <span>In next example value of the form control must be less than or equal to 18.</span>
      </p>

      <form fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>What is your age? (Must be less than or equal to 18)</mat-label>
          <input type="number" matInput [placeholder]="'What is your age?'" [formControl]="lessEqualFormControl">
          <mat-error *ngIf="lessEqualFormControl.invalid">
            {{lessEqualFormControl.errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>
      </form>

      <p fxLayout="column">
        <b>2. Comparing control value is passed</b>
        <span>Here are two form controls that are required and second one must have value less than or equal to first one.</span>
      </p>

      <form [formGroup]="lessEqualForm" fxLayout="column" class="mt-1" autocomplete="off">
        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>First Age *</mat-label>
          <input type="number" matInput [placeholder]="'First Age *'" formControlName="firstAge">
          <mat-error *ngIf="lessEqualForm.get('firstAge').invalid">
            {{lessEqualForm.get('firstAge').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mt-1">
          <mat-label>Second Age *</mat-label>
          <input type="number" matInput [placeholder]="'Second Age *'" formControlName="secondAge">
          <mat-error *ngIf="lessEqualForm.get('secondAge').invalid">
            {{lessEqualForm.get('secondAge').errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>

        Is form valid: {{lessEqualForm.valid}}
      </form>
    </div>
  </mat-tab>
</mat-tab-group>
