<h2>Here is example player:</h2>

<form fxLayout="column" class="mt-1" autocomplete="off">
  <h3>Select needed scale for number decimal places here:</h3>
  <mat-button-toggle-group [formControl]="scaleControl">
    <ng-container *ngFor="let scale_item of scales">
      <mat-button-toggle fxFlex="100%" [value]="scale_item">{{scale_item}}</mat-button-toggle>
    </ng-container>
  </mat-button-toggle-group>

  <div class="mt-1">
    <h3>Toggle scale fix ability for number decimal places here:</h3>
    <mat-slide-toggle color="primary" [formControl]="fixScaleControl">Is fixed?</mat-slide-toggle>
  </div>

  <mat-form-field appearance="outline" class="mt-1">
    <mat-label>Decimal places</mat-label>
    <input type="number" matInput [placeholder]="'Decimal places'" [formControl]="decimalPlacesControl">
    <mat-error *ngIf="decimalPlacesControl.invalid">
      {{decimalPlacesControl.errors | controlErrorResolver}}
    </mat-error>
  </mat-form-field>
</form>
