<mat-drawer-container class="application-container">
  <mat-drawer mode="side" opened>
    <ul>
      <li *ngFor="let sidebar_link of sidebarLinks">
        <a
          [routerLink]="sidebar_link.routerLink"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active">
          {{sidebar_link.linkText}}
        </a>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <div class="router-outlet-container p-2">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
