<div class="wrapper">
  <div class="credit-card-container">
    <div class="mt-5" fxFlex="100" fxLayoutAlign="center center">
      <mat-card class="card">
        <mat-form-field class="card-number">
          <input [formControl]="creditCardNumber" matInput placeholder="Credit card number" type="text">
          <mat-error *ngIf="creditCardNumber.invalid">
            {{creditCardNumber.errors | controlErrorResolver}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="card-holder-name">
          <input matInput placeholder="Holder Name" type="text">
        </mat-form-field>
        <p><strong>Expiration Date</strong></p>
        <div class="card-container" fxLayoutAlign="space-between">
          <div class="card-expiration-date" fxLayoutAlign="space-between center" fxLayoutGap="12px">
            <mat-form-field fxFlex="30">
              <input matInput placeholder="MM" type="number" value="06">
            </mat-form-field>
            <div>/</div>
            <mat-form-field fxFlex="30">
              <input matInput placeholder="YY" type="number" value="26">
            </mat-form-field>
          </div>
          <div class="card-types-container">
            <mat-button-toggle-group
              (change)="onCardTypeChange($event.value)"
              [formControl]="cardType"
              aria-label="Card Type"
              fxFlex="100"
              fxLayoutAlign="space-between center">
              <mat-button-toggle [value]="IMCreditCardTypeValidatorEnum.MasterCard" class="type">
                <img alt="master-card-logo" src="../../../../assets/images/credit-card-validator/master-card.png">
              </mat-button-toggle>
              <mat-button-toggle [value]="IMCreditCardTypeValidatorEnum.Visa" class="type">
                <img alt="visa-logo" src="../../../../assets/images/credit-card-validator/visa.png">
              </mat-button-toggle>
              <mat-button-toggle [value]="IMCreditCardTypeValidatorEnum.AmericanExpress" class="type">
                <img alt="america-express-logo" src="../../../../assets/images/credit-card-validator/american-express.png">
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="card-behind">
      <mat-card class="card-behind-background">
        <div class="mt-1 card-strip"></div>
        <div fxLayoutAlign="end">
          <mat-form-field class="card-cvc">
            <input matInput placeholder="CVC" type="text" maxlength="3" value="000">
          </mat-form-field>
        </div>
      </mat-card>
    </div>
  </div>
</div>

