<h2>IMDateInRangeValidator</h2>

<h2><strong>This is date in range validator.</strong></h2>
<p>It defines date range, where control value must be a date in this range.</p>
<p>Validating value and both parameters must have moment models.</p>
<p>Validator has two parameters: 'from' and 'to'.</p>
<p>Note, that 'from' parameter must be less than 'to' parameter.</p>

<hr>

<h3><strong>Pattern: [from, value, to]</strong></h3>

<hr>

<p fxLayout="column">
  <span>It can be imported in next way:</span>
  <strong class="pt-1">import {{'{'}}IMDateInRangeValidator{{'}'}} from 'im-angular-validators';</strong>
  <span class="pt-1">Also, error interface that validator returns can be imported as well:</span>
  <strong class="pt-1">import {{'{'}}IMDateInRangeErrorInterface{{'}'}} from 'im-angular-validators';</strong>
</p>

<hr>

<p class="mt-2">Please, take a look at the validator APIs for more detailed information.</p>
