<p>Here are 'greater than number' validator examples.</p>
<p>We have two possibilities to use this validator.</p>
<p><b>1. Pass comparing value directly via validator configuration</b></p>
<p>In next example value of the form control must be strictly greater than 18.</p>

<form fxLayout="column" class="mt-1" autocomplete="off">
  <mat-form-field appearance="outline" class="mt-1">
    <mat-label>What is your age? (Must be bigger than 18)</mat-label>
    <input type="number" matInput [placeholder]="'What is your age?'" [formControl]="greaterThanNumberFormControl">
    <mat-error *ngIf="greaterThanNumberFormControl.invalid">
      {{getErrorMessage(greaterThanNumberFormControl)}}
    </mat-error>
  </mat-form-field>
</form>

<p><b>2. Pass control key directly via validator configuration</b></p>
<p>It has to be a brother form control on the same form group with model type number.</p>
<p>Here are two form controls that are required and second one must have value greater than first one.</p>

<form [formGroup]="form" fxLayout="column" class="mt-1" autocomplete="off">
  <mat-form-field appearance="outline" class="mt-1">
    <mat-label>First Month *</mat-label>
    <input type="number" matInput [placeholder]="'First Month *'" formControlName="firstMonth">
    <mat-error *ngIf="form.get('firstMonth').invalid">
      {{getErrorMessage(form.get('firstMonth'))}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="mt-1">
    <mat-label>Second Month *</mat-label>
    <input type="number" matInput [placeholder]="'Second Month *'" formControlName="secondMonth">
    <mat-error *ngIf="form.get('secondMonth').invalid">
      {{getErrorMessage(form.get('secondMonth'))}}
    </mat-error>
  </mat-form-field>

  Is form valid: {{form.valid}}
</form>
